.App{
  background-image: url(../src/image/bgImg.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.loading{
  font-size: 3rem;
}